div {
    width: 100%;
    height: 51px;
    background-color: rgb(65, 64, 66);
    text-align: center;
}

div a {
    font-size: 40px;
    color: rgb(159, 159, 159);
    text-decoration: none;
    margin-left: 15px;
    padding: 5px;
    background-color: rgb(46, 42, 46);
}